<!--<div id="loading">
        <img src="Images/loading.gif" width="31" height="31" alt="Loading..." />
        Loading...
    </div>-->

    <div id="error-container">
        <div id="error-box">
            <div id="error-close"></div>
            <div id="error-text">Just a simple message for error.</div>
        </div>
    </div>

    <section id="profile-box">
        
    </section>

    <section id="bar">
        <div id="central-header">
            <ul id="menu">
                <!--<li><a href="#/admin">Main Admin</a></li>-->
                <li><a href="#/admin/users">All Users Grid</a></li>
                <li><a href="#/admin/matches">All Matches Grid</a></li>
                <li><a href="../../index.html">Back to User View</a></li>
                <!--<li style="float: right;"><a href="#/login">log in/register</a></li>-->
            </ul>
        </div>
    </section>

    <section id="wrapper">

        <section id="page" style="display: block;">
   
        </section>

    </section>