<div id="loading">
        <img src="Images/loading.gif" width="31" height="31" alt="Loading..." />
        Loading...
    </div>

    <div id="error-container">
        <div id="error-box">
            <div id="error-close"></div>
            <div id="error-text">Just a simple message for error.</div>
        </div>
    </div>

    <section id="profile-box">
        
    </section>

    <section id="bar">
        <div id="central-header">
            <ul id="menu">
                <li><a href="#/">All matches</a></li>
                <li><a id="mymatches-nav-button" href="#/mymatches">My matches</a></li>
                <li id="login-nav-button" style="float: right;"><a href="#/login">Log in/Register</a></li>
                <li id="logout-nav-button" style="float: right;"><a href="#/logout">Logout</a></li>
            </ul>
        </div>
    </section>

    <section id="wrapper">

        <section id="page" style="display: block;">
   
        </section>

    </section>