<div class="box" id="login-box">
    <div id="login">
        <h2>Login</h2>
        <table>
            <tr>
                <td>Username:</td>
                <td><input data-bind="value: loginUsername" type="text" id="login-username" /></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input data-bind="value: loginPassword" type="password" id="login-password" /></td>
            </tr>
        </table>
        <a id="login-button" data-bind="click: login" class="button">Login</a>
    </div>
    <div id="register">
        <h2>Register</h2>
        <table>
            <tr>
                <td>Username:</td>
                <td><input data-bind="value: registerUsername" type="text" id="register-username" /></td>
            </tr>
            <tr>
                <td>Nickname:</td>
                <td><input data-bind="value: registerNickname" type="text" id="register-nickname" /></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input data-bind="value: registerPassword" type="password" id="register-password" /></td>
            </tr>
        </table>
        <a id="register-button" data-bind="click: register" class="button">Register</a>
    </div>
</div>