<table class="matches" id="all-matches" data-bind="source: matches" data-template="single-row-template">
    <thead>
        <tr>
            <th>Start Time</th>
            <th>Home Team</th>            
            <th>1</th>
            <th>X</th>
            <th>2</th>
            <th>Result</th>   
            <th>Away Team</th> 
            <th></th>
        </tr>
    </thead>    
    <tbody>
        <script type="text/x-kendo-template" id="single-row-template">
            <tr>
                <td class="match-date" data-bind="text: startTime"></td>                
                <td class="match-home" data-bind="text: home"></td>
                <td data-bind="text:homeCoefficient"></td>
                <td data-bind="text:drawCoefficient"></td>
                <td data-bind="text:awayCoefficient"></td>
                <td class="match-result"> 
                    <span data-bind="text: homeScore" /> : <span data-bind="text: awayScore" />
                </td>
                <td class="match-away" data-bind="text: away"></td>
                <td><button data-id="#: id #" data-bind="click:editMatch">Edit</button></td>
            </tr>
        </script>
    </tbody>
    <tfoot>
        <tr >
            <td colspan="8">
                <a href="#/admin/createMatch">Create New Match</a>
            </td>
        </tr>
    </tfoot>
</table>